body {
  font: 100%/1.5 system-ui, sans-serif;
  display: flex;
  flex-flow: column;
  max-width: 80em;
  min-height: 100vh;
  box-sizing: border-box;
  margin: auto;
  padding: 1em;
}

header {
  display: flex;
  gap: 1em;
  align-items: baseline;
  margin-bottom: 1em;
}

header label {
  margin-left: auto;
  display: flex;
  align-items: baseline;
  gap: 0.5em;
}

#time-slider {
  width: 200px;
}

#selected-time,
#any-time {
  display: block;
  min-width: 80px;
}

#any-time {
  font-style: italic;
  color: #666;
}
